$content-right-padding: 25 + 'px';

.add-website-content {

}

.group-button {
  padding-right: $content-right-padding;
  display: flex;
  justify-content: flex-end;
  & > * {
    margin-left: 20px;
  }
  button.secondary {
    background: transparent;
  }
}
